{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col-md-7">
        <h1 class="mb-4">{{ page.title }}</h1>
        {{ page.content }}
    </div>
    <div class="col-md-5 img-container">
        {% if page.image %}
            <img src="{{ SITEURL }}/{{ page.image }}" class="img-fluid" alt="{{ page.title }}">
        {% else %}
            <img src="/images/udl-logo.png" class="img-fluid" alt="{{ page.title }}">
        {% endif %}
    </div>
</div>
{% endblock %}